{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "sort-imports": [
          "error",
          {
            "ignoreDeclarationSort": true
          }
        ],
        "@typescript-eslint/quotes": [
          "error",
          "single",
          {
            "allowTemplateLiterals": true
          }
        ],
        "import/order": ["error"],
        "no-console": "error",
        "no-extra-boolean-cast": "error"
      }
    }
  ]
}
