{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "settings": {
    "import/internal-regex": "^@.*"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "project": ["./tsconfig.json"],
      },
      "rules": {
        "@typescript-eslint/no-namespace": "off",
        "sort-imports": [
          "error",
          {
            "ignoreDeclarationSort": true,
          },
        ],
        "@typescript-eslint/quotes": [
          "error",
          "single",
          {
            "allowTemplateLiterals": true,
          },
        ],
        "import/order": [
          "error",
          {
            "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
            "pathGroups": [
              {
                "pattern": "@config/**",
                "group": "internal",
                "position": "before"
              },
              {
                "pattern": "@helpers/**",
                "group": "internal",
                "position": "before"
              },
              {
                "pattern": "@/**",
                "group": "internal",
                "position": "after"
              }
            ],
            "pathGroupsExcludedImportTypes": ["builtin", "external"],
            "newlines-between": "always",
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "no-console": "error",
        "no-extra-boolean-cast": "error",
      },
    },
  ],
}
